*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

//Debug
.debug-col{
    background-color: #1bafe4;
    
    }
  .debug-row{
    background-color: #fcd902;
    margin: 1px;
    
  }
  .debug-container{
    background-color: #d71938;
  }


//Buttons// 
.ms_btn_primary{
    background-color: #fe6601;
    color: white;
    padding: 0.4rem 0.5rem;
    font-size: 0.6rem;
    border: none;
}    

.ms_btn_secondary{
    background-color: #554e9e;
    color: white;
    padding: 0.4rem 0.5rem;
    font-size: 0.6rem;
    border: 2px solid white;
}    
  //Badges//


    //FUNZIONA SOLO SE LA COLONNA HA DISPLAY FLEX E CENTER/

  .badge-box-ver{
    font-size: 1rem;
    padding: 1rem;
      .badge-icon{
          padding: 2rem ;
          border-radius: 50%;
          width: min-content;
          margin: auto;
        }
            .badge-title{
                text-align: center;
                font-size: 1rem;
                margin: 0.7rem 0;
            }
            .badge-caption{
                font-size: 0.8rem;
                text-align: center;
            }
    }


    // DISPOSIZIONE ORIZZONTALE

  .badge-box-hor{
    display: flex;
    align-items: center;
    font-size: 1rem;
    padding: 1rem;
      .badge-icon-primary{
          background-color: #fe6601;
          padding: 2rem ;
          border-radius: 50%;
          img{
              filter: invert(1);
              height: 25px;
          }
        }
        .badge-text{
            padding:0 1rem;
            .badge-title{
                text-align: left;
                font-size: 1rem;
                margin: 0.7rem 0;
            }
            .badge-caption{
                font-size: 0.8rem;
                text-align: left;
            }
        }
    }


    //Box con titolo e caption dx e img float sx
   


    //sizing//@at-root

    .ms_w-min{
        width: min-content;
    }


    .ms_fit_cover{
        object-fit: cover;
    }